@if (model) {
    <div class="flex flex-column align-items-center w-full py-6 px-4">
        <div>
            <h2>The digital twin utopia</h2>
            <p [style]="{maxWidth: '40rem', fontSize: 'larger', lineHeight: '1.5', textAlign: model.justify}">
                « En cet empire, l'Art de la Cartographie fut poussé à une telle Perfection que la Carte d'une seule Province occupait toute une Ville et la Carte de l'Empire toute une Province.
                <br>Avec le temps, ces Cartes Démesurées cessèrent de donner satisfaction et les Collèges de Cartographes levèrent une Carte de l'Empire, qui avait le Format de l'Empire et qui coïncidait avec lui, point par point. 
                <br>Moins passionnées pour l'Étude de la Cartographie, les Générations Suivantes réfléchirent que cette Carte Dilatée était inutile et, non sans impiété, elles l'abandonnèrent à l'Inclémence du Soleil et des Hivers. Dans les Déserts de l'Ouest, subsistent des Ruines très abîmées de la Carte. 
                <br>Des Animaux et des Mendiants les habitent. Dans tout le Pays, il n'y a plus d'autre trace des Disciplines Géographiques. » 
            </p>
            <address><a href="https://en.wikipedia.org/wiki/Jorge_Luis_Borges">Jorge Luis Borges</a> - De la rigueur de la science</address>
            <br><hr>
            <p [style]="{maxWidth: '40rem', fontSize: 'larger', lineHeight: '1.5', textAlign: model.justify}">
                « - What a useful thing a pocket-map is! I remarked.
                <br>- That's another thing we've learned from your Nation, said Mein Herr, map-making. But we've carried it much further than you. What do you consider the largest map that would be really useful?
                <br>- About six inches to the mile.
                <br>- Only six inches! exclaimed Mein Herr. We very soon got to six yards to the mile. Then we tried a hundred yards to the mile. And then came the grandest idea of all ! We actually made a map of the country, on the scale of a mile to the mile!
                <br>- Have you used it much? I enquired.
                <br>- It has never been spread out, yet, said Mein Herr: the farmers objected: they said it would cover the whole country, and shut out the sunlight ! So we now use the country itself, as its own map, and I assure you it does nearly as well. »
            </p>
            <address><a href="https://en.wikipedia.org/wiki/Lewis_Carroll">Lewis Carroll</a>, <a href="https://en.wikipedia.org/wiki/Sylvie_and_Bruno">Sylvie and Bruno Concluded</a>, Chapter XI, London, 1895</address>
        </div>
    </div>
}
